<html>
<body>
    <h1>- - - - Dispositivos de Alumbrado - - - -</h1>
	<a href="/alumbrado/creardispositivo">AGREGAR DISPOSITIVO</a>

    <table>
        <tr>
            <th>Id</th>
            <th>En alta</th>
            <th>Nombre</th>
            <th>Encendido</th>
            <th>Senda</th>
            <th>Numeracion</th>
            <th>Potencia en watts(W)</th>
            <th>Espacio</th>
        </tr>
        
        <tr th:each="a : ${listaAlumbrado}">
            <td th:text="${a.id}"></td>
            <td th:text="${a.enAlta}"></td>
            <td th:text="${a.nombre}"></td>
            <td th:text="${a.encendido}"></td>
            <td th:text="${a.senda}"></td>
            <td th:text="${a.numeracion}"></td>
            <td th:text="${a.potencia}"></td>
            
            <!-- por ahora no puedo mostrar espacio y eventos ya que no realice los converter, service y demas -->
            
            <td th:if="${a.espacio != null}" th:text="${a.espacio.nombre}"></td>
            
            <!-- <td>
                <ul th:if="${a.eventos != null}">
                    <tr th:each="e : ${a.eventos}">
                        <td th:text="${e.id}"></td>
                        <td th:text="${e.descripcionEvento}"></td>
                        <td th:text="${e.fechaHoraRegistro}"></td>
                    </tr>
                </ul>
                <span th:if="${a.eventos == null}">Sin eventos</span>
            </td>
            -->
            <td>
                <a th:href="@{/personas/editarPersona/} + ${a.id}" th:text="'Editar'" title="Editar"></a>
            </td>
            
            <td>
                <a th:href="@{/evento/listaEventos/}+ ${a.id}" th:text="'Detalles'" title="Detalles"></a>
            </td>
            
            <td>
                <a th:href="@{/alumbrado/eliminar/}+ ${a.id}" th:text="'Eliminar'" title="Eliminar"></a>
            </td>
            
            <td>
                <a th:href="@{/alumbrado/bajaAlumbrado/}+ ${a.id}" th:text="'Baja'" title="Baja"></a>
            </td>

        </tr>
    </table>
</body>
</html>
