<html>
<body>
       <th>MEDICIONES DE DISPOSITIVO</th>
  <td>
                <a th:text="'NUEVA MEDICION'" title="NUEVA MEDICION"></a>
  </td>
  <table>
    <tr> 
        <th>ID</th>
        <th>FECHA HORA REGISTRO</th> 
         <th>PATENTE</th>  
        <th>PRESENCIA VEHICULO</th> 
    </tr> 
   
     
    <tr th:each="m : ${mediciones}">
        <td th:text="${m.id}"></td>
        <td th:text="${m.fechaHoraRegistro}"></td>
         <td th:text="${m.patente}"></td>
        <td th:text="${m.presenciaVehiculo}"></td>
   

         
        

 
        
        
          
     
        </tr>
    </table>
</body>
</html>