<html>
<body>
       <th>EVENTOS DE DISPOSITIVO</th>
  
  <table>
    <tr> 
        <th>DISPOSITIVO</th>
        <th>DESCRIPCION DE EVENTO </th> 
         <th>FECHA HORA REGISTRO</th>  
       
    </tr> 
   
     
    <tr th:each="e : ${eventos}">
        <td th:text="${e.dispositivo.nombre}"></td>
        <td th:text="${e.descripcionEvento}"></td>
         <td th:text="${e.fechaHoraRegistro}"></td>
        
   

         
        

 
        
        
          
     
        </tr>
    </table>
</body>
</html>